<%- include('header') %>
            
            <section class="d-flex justify-content-center" style="color: rgb(255, 255, 255); background-color: rgb(31, 31, 31); border-radius: 25px;">
                <div class="container" style="margin: 50px;">
                    <div class="row d-flex justify-content-center">
                        <div class="modal-header" style="display: flex; justify-content: center; border-bottom: 2px solid rgb(84, 84, 84); padding-bottom: 20px;">
                        </div>
                        
                        
                        <div>
                            <h5 class="modal-title" id="exampleModalLabel" style="margin-bottom: 20px;">Ghế:</h5>
                            <div class="modal-body" style="margin-left: 10px;">
                              <!-- tạo mảng chứa ds idghe -->

                                <% var myArray = [];
                                for (let p2 of list2){
                                  myArray.push(p2.idghe)
                                }
                                %>
                                      <!-- tạo mảng chứa ds idghe , reduce: lặp, lấy các các chữ cái đầu cho vào mảng-->
                                <% const groups = list.reduce((result, item) => {
                                       const firstChar = item.tenghe.charAt(0).toUpperCase();
                                       if (!result[firstChar]) {
                                         result[firstChar] = [];
                                       }
                                       result[firstChar].push(item);
                                       return result;
                                     }, {});
                                   Object.keys(groups).sort().forEach((key) => {
                                       const group = groups[key];
                                       %>
                                      <!--sort săp xếp a-z-->
                                       <div class="d-flex align-items-center mb-3">
                                         <div class="group-title mr-2 p-1"><%= key %></div>
                                         <div class="btn-group" role="group">
                                           <!--Nếu ghế khong có trong ds ve => đc đặt -->
                                           <% group.forEach((item) => { %>
                                             <% if(!myArray.includes(item.idghe)){ %>
                                               <form action="/api/menu/items/datghe" method="post">
                                                 <input type="text" name="idghe" value="<%= item.idghe %>" style="display: none;">
                                                 <button class="btn btn-secondary tt" type="submit"><%= item.tenghe %></button>
                                               </form>
                                             <% } else { %>
                                               <button class="btn btn-danger tt" type="" disabled><%= item.tenghe %></button>
                                             <% } %>
                                           <% });
                                           %>
                                         </div>
                                       </div>
                                   <% });
                                %>
                              </div>
                        </div>
                        
                        <style>
                            .t:focus,
                            .t:active {
                                outline: none;
                                /* chuyển đổi kiểu dáng của div khi nó được focus hoặc active */
                                background-color: rgb(247, 26, 140);
                                color: white;
                            }
                      
                            .t.selected {
                                background-color: rgb(247, 26, 140);
                                color: white;
                            }
                            .tt:focus,
                            .tt:active {
                                outline: none;
                                /* chuyển đổi kiểu dáng của div khi nó được focus hoặc active */
                                background-color: rgb(247, 26, 140);
                                color: white;
                            }
                      
                            .tt.selectedd {
                                background-color: rgb(247, 26, 140);
                                color: white;
                            }
                        </style>
                        <script>
                                const buttons = document.querySelectorAll('.t');
                            
                                buttons.forEach((button) => {
                                button.addEventListener('click', () => {
                                    // xoá class "selected" của button được chọn trước đó
                                    const selected = document.querySelector('.selected');
                                    if (selected) {
                                    selected.classList.remove('selected');
                                    }
                                    // thêm class "selected" cho button được click
                                    button.classList.add('selected');
                                });
                                });
                                const buttonss = document.querySelectorAll('.tt');
                            
                                buttonss.forEach((button) => {
                                button.addEventListener('click', () => {
                                    // xoá class "selected" của button được chọn trước đó
                                    const selected = document.querySelector('.selectedd');
                                    if (selected) {
                                    selected.classList.remove('selectedd');
                                    }
                                    // thêm class "selected" cho button được click
                                    button.classList.add('selectedd');
                                });
                                });
                                

                        </script>
                    </div>
                </div>
            </section>

            <div class="row" style="height: 100px;"></div>
            <div class="row" style="height: 100px; border-top: 2px solid rgb(31, 31, 31);"></div>

            <%- include('footer') %>