<%- include('header') %>            
            <section class="d-flex justify-content-center" style="color: rgb(255, 255, 255); background-color: rgb(31, 31, 31); border-radius: 25px;">
                <div class="container" style="margin: 50px;">
                    <div class="row d-flex justify-content-center">
                        <div class="modal-header" style="display: flex; justify-content: center; border-bottom: 2px solid rgb(84, 84, 84); padding-bottom: 20px;">
                        </div>
                        <div style="border-bottom: 2px solid rgb(84, 84, 84); padding-bottom: 20px;">
                            <div><h5 class="modal-title" id="exampleModalLabel">Ngày chiếu:</h5></div>
                            <div class="modal-body">
                                <% for (let p of list)  {%>
                                    <form action="/api/menu/items/giochieu" method="post">
                                        <input type="text" name="idphim" value="<%= iphim %>" style="display: none;">
                                        <input type="text" name="ngaychieu" value="<%= p.ngaychieu_formatted %>" style="display: none;">
                                        <button class="btn btn-secondary tt" style="margin: 5px;" type="submit" ><%= p.ngaychieu_formatted %></button>
                                    </form>
                                <% } %>
                                
                            </div>
                        </div>
                        
                        <style>
                            .t:focus,
                            .t:active {
                                outline: none;
                                /* chuyển đổi kiểu dáng của div khi nó được focus hoặc active */
                                background-color: rgb(247, 26, 140);
                                color: white;
                            }
                      
                            .t.selected {
                                background-color: rgb(247, 26, 140);
                                color: white;
                            }
                            .tt:focus,
                            .tt:active {
                                outline: none;
                                /* chuyển đổi kiểu dáng của div khi nó được focus hoặc active */
                                background-color: rgb(247, 26, 140);
                                color: white;
                            }
                      
                            .tt.selectedd {
                                background-color: rgb(247, 26, 140);
                                color: white;
                            }
                        </style>
                        <script>
                                const buttons = document.querySelectorAll('.t');
                            
                                buttons.forEach((button) => {
                                button.addEventListener('click', () => {
                                    // xoá class "selected" của button được chọn trước đó
                                    const selected = document.querySelector('.selected');
                                    if (selected) {
                                    selected.classList.remove('selected');
                                    }
                                    // thêm class "selected" cho button được click
                                    button.classList.add('selected');
                                });
                                });
                                const buttonss = document.querySelectorAll('.tt');
                            
                                buttonss.forEach((button) => {
                                button.addEventListener('click', () => {
                                    // xoá class "selected" của button được chọn trước đó
                                    const selected = document.querySelector('.selectedd');
                                    if (selected) {
                                    selected.classList.remove('selectedd');
                                    }
                                    // thêm class "selected" cho button được click
                                    button.classList.add('selectedd');
                                });
                                });
                        </script>
                    </div>
                </div>
            </section>

            <div class="row" style="height: 100px;"></div>
            <div class="row" style="height: 100px; border-top: 2px solid rgb(31, 31, 31);"></div>

            <%- include('footer') %>