<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/menu/items/updateve/<%= list[0].id %>?_method=PUT" method="POST">
        <label for="">id</label>
        <input type="text" name="id" value="<%= list[0].id %>">
        <label for="">name</label>
        <input type="text" name="name" value="<%= list[0].name %>">
        <label for="">description</label>
        <input type="text" name="description" value="<%= list[0].description %>">
        <label for="">filename</label>
        <input type="text" name="filename" value="<%= list[0].filename %>">
        <label for="">views</label>
        <input type="number" name="views" value="<%= list[0].views %>">
        <label for="">isPublished</label>
        <input type="text" name="isPublished" <% if (list[0].isPublished) { %>checked="checked"<% } %> value="1">Is published?
        <button type="submit">update</button>
    </form>
    <% if (message != "null") { %>
        <p>Lỗi: <%= message %></p>
     <% } %>

</body>
</html>