
        <%- include('header') %>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0">Quản lý lịch chiếu</h2>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
                      <i class="fas fa-user me-2"></i>
                      <li class="nav-item">Admin</li>
                    </ul>
                  </div>
                  
            </nav>

            <div class="container-fluid px-4">
                <div class="row my-5">
                    <div class="col">
                        <table class="table bg-white rounded shadow-sm  table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" width="50">id</th>
                                    <th scope="col">Phòng</th>
                                    <th scope="col">Phim</th>
                                    <th scope="col">Ngày chiếu</th>
                                    <th scope="col">Giờ chiếu</th>
                                    <th scope="col">Giờ kết thúc</th>
                                    <th scope="col">Tùy chọn</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <% for (let p of list)  {%>
                                <tr>
                                    <th scope="row"><%= p.idlichchieu %></th>
                                    <td><%= p.idphong %></td>
                                    <td><%= p.idphim %></td>
                                    <td><%= p.ngaychieu %></td>
                                    <td><%= p.giochieu %></td>
                                    <td><%= p.gioketthuc %></td>
                                        <td>
                                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                              <div> <!-- Cột 1 -->
                                                <form class="mx-1" action="/api/menu/items/editlichchieu/<%= p.idlichchieu %>" method="get" style="display: inline-block;">
                                                  <button class="btn btn-primary">Sửa</button>
                                                </form>
                                                <form class="mx-1" action="/api/menu/items/deletelichchieu/<%= p.idlichchieu %>?_method=delete" method="POST" style="display: inline-block;">
                                                  <button class="btn btn-danger">Xóa</button>
                                                </form>
                                              </div>
                                              <div> <!-- Cột 2 -->
                                                <!-- Thêm nội dung tùy chọn vào đây -->
                                              </div>
                                            </div>
                                          </td>    
                                    </tr>
                                <% } %>

                            </tbody>
                        </table>
                        <form class="d-flex justify-content-end" action="/api/menu/items/addlichchieu" method="get">
                                <button type="submit" class="btn btn-primary">Thêm</button>
                        </form>
<!-- Hiển thị các nút điều hướng phân trang -->
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <% if (currentPage > 1) { %>
      <li class="page-item"><a class="page-link" href="?page=<%= currentPage - 1 %>">Trang trước</a></li>
    <% } %>
    <% for (let i = 1; i <= totalPages; i++) { %>
      <% if (i === currentPage) { %>
        <li class="page-item active"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
      <% } else { %>
        <li class="page-item"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
      <% } %>
    <% } %>
    <% if (currentPage < totalPages) { %>
      <li class="page-item"><a class="page-link" href="?page=<%= currentPage + 1 %>">Trang tiếp</a></li>
    <% } %>
  </ul>
</nav>
                        

                    </div>
                </div>

            </div>
        </div>
    </div>
    

    <!-- /#page-content-wrapper -->    
    <%- include('footer') %>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="/js/app.js"></script>

</body>
</html>