
        <%- include('header') %>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0">Thống kê doanh thu</h2>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
                      <i class="fas fa-user me-2"></i>
                      <li class="nav-item">Admin</li>
                    </ul>
                  </div>
                  
            </nav>
            
            
    <div class="container-fluid px-4">
        <div class="row my-5">
            <div class="col">
                <table class="table bg-white rounded shadow-sm  table-hover">
                    <thead>
                        <tr>
                            <th scope="col" width="50">Id</th>
                            <th scope="col">Ngày chiếu</th>
                            <th scope="col">Tổng doanh thu ngày</th>

                        </tr>
                    </thead>
                    <tbody>
                        
                        <% let i=0; for (let p of list)  {%>
                            <tr id="<%= i %>">
                                <th scope="row"><%= i = i+1 %></th>
                                <td><%= new Date(p.ngaychieu).toLocaleDateString() %></td>
                                <td><%= p.tongdoanhthu %></td>
                            </tr>
                            <% } %>
    

                    </tbody>
                </table>
<!-- Hiển thị các nút điều hướng phân trang -->
<nav aria-label="Page navigation example">
    <ul class="pagination">
      <% if (currentPage > 1) { %>
        <li class="page-item"><a class="page-link" href="?page=<%= currentPage - 1 %>">Trang trước</a></li>
      <% } %>
      <% for (let i = 1; i <= totalPages; i++) { %>
        <% if (i === currentPage) { %>
          <li class="page-item active"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
        <% } else { %>
          <li class="page-item"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
        <% } %>
      <% } %>
      <% if (currentPage < totalPages) { %>
        <li class="page-item"><a class="page-link" href="?page=<%= currentPage + 1 %>">Trang tiếp</a></li>
      <% } %>
    </ul>
  </nav>
            </div>
        </div>

    </div>
            <div class="container-fluid px-4">
                <div class="row my-5">
                    <div class="col">
                    
                </div>
                </div>

            </div>
        </div>
    </div>
    

    <!-- /#page-content-wrapper -->    
    
    <%- include('footer') %>
